<h1>New Content Module</h1>

<%= form_for(@content_module, as: :content_module, url: arm_bit_maker_content_modules_path(@arm, @content_module)) do |f| %>
  <%= render 'form', f: f %>
  <div class="btn-toolbar">
    <%= f.submit "Create", class: "btn btn-default" %>
    <%= link_to 'Cancel', arm_bit_maker_content_modules_path(@arm), class: "btn btn-default" %>
  </div>
<% end %>