<tr class="learning_lesson_row">
  <td class="learning_lesson_title"><%= content_provider.source_content.pretty_title %></td>
  <%= render partial: "think_feel_do_engine/coach/group_dashboard/lesson_completion_breakdown",
             locals: { task: task } %>
</tr>