<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Lesson View Summary</h3>
  </div>

  <div class="panel-body">
    <% (1..study_length_in_weeks).each do |week_number| %>
      <h2>Week <%= week_number %></h2>
      <table class="table">
        <% group.learning_tasks.each do |task| %>
          <% if week_number == week_of_task(task) %>
            <%= render partial: "think_feel_do_engine/coach/group_dashboard/learning_lesson_row",
                       collection: task.bit_core_content_module.content_providers,
                       as: :content_provider,
                       locals: { task: task } %>
          <% end %>
        <% end %>
      </table>
    <% end %>
  </div>
</div>