<tr>
  <td>likes</td>
  <% (1...study_length_in_weeks + 1).each do |current_week| %>
    <td>1</td>
  <% end %>
</tr>
<tr>
  <td>comments</td>
  <% (1...study_length_in_weeks + 1).each do |current_week| %>
    <td>1</td>
  <% end %>
</tr>
<tr>
  <td>goals</td>
  <% (1...study_length_in_weeks + 1).each do |current_week| %>
    <td>1</td>
  <% end %>
</tr>