<div class="panel-group" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default panel-info">
    <div class="panel-heading" role="tab" id="heading">
      <h3 class="panel-title"><%= slide.slideshow.title %></h3>
    </div>
    <div class="panel-collapse">
      <div class="list-group">
        <% slide.slideshow.slides.drop(1).each do |slide| %>
          <span class="list-group-item task-status">
            <%= link_to navigator_location_path(
                  slide.slideshow.content_provider.content_module,
                  slide.slideshow.content_provider,
                  slide.position),
                class: "task-status" do %>
            <h4 class="list-group-item-heading">
              <span class="lesson unread"><%= slide.title %></span>
            </h4>
            <% end %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
