<% slide = slide || @slide %>
<%= render "think_feel_do_engine/slides/slide", slide: slide %>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>THINK</h3>
        <p>helps you track and examine your thoughts and change them for the better<br>&nbsp;</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>FEEL</h3>
        <p>helps you to identify your Mood and Emotions and track them over time<br>&nbsp;</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>DO</h3>
        <p>helps you become more aware of your activities, patterns in your activities, and how they can impact your Mood and Emotions</p>
      </div>
    </div>
  </div>
</div>
