<%= render "before_content" rescue nil %>

<%= @navigator.render_current_content(self) %>

<% if @navigator.show_nav_link? %>
  <div class='btn-toolbar'>
  	<%= content_tag(:a, t(:back), href: navigator_previous_content_path, type: "submit", class: "btn btn-default pull-left") if @navigator.previous_content? %>
    <%= content_tag(:a, t(:next), href: navigator_next_content_path, type: "submit", class: "btn btn-primary pull-right") %>
  </div>
<% end %>
