<%= content_for :title do %>
  Please remember to complete your PHQ assessment!
<% end %>

<table class="button">
  <tr>
    <td>
      <%= link_to "view assessment", new_participants_phq_assessment_url(:"phq_assessment[token]" => @participant_token.to_s) %>
    </td>
  </tr>
</table>

<br>

<p>
  <strong>Please be aware that this is an automated e-mail message and if you reply to
  it no one will receive your response.</strong>
</p>
<p>
  If you need to contact your coach, please use the messaging system within the
  ThinkFeelDo website. 
</p>
