<div class="panel panel-warning">
  <div class="panel-body">
    <strong>Note</strong>: there may be a significant delay after selecting a link before the file
    downloads because the reports are being generated live. Please be patient!
  </div>
</div>

<ul>
  <% @reports.each do |report| %>
    <li><%= link_to report[:title], report_path(id: report[:id], format: "csv") %></li>
  <% end %>
</ul>
