<tr>
  <td class="not-displayed">
    <%= message.created_at ? message.created_at.to_i : 0 %>
  </td>
  <td><%= message.subject %></td>
  <td><%= l(message.created_at, format: :standard) %></td>
</tr>
