<div class="footer hidden-sm hidden-xs">
  <div class="container">
    <p class="text-muted">
      &copy; <%= Date.today.year %> Northwestern University |
      <%= link_to "Center for Behavioral Intervention Technologies", "http://cbits.northwestern.edu" %> |
      <%= link_to "Privacy Policy", think_feel_do_engine.privacy_policy_url %>
    </p>
  </div>
</div>
