<meta charset="UTF-8">
<title>Think Feel Do</title>
<link href="//fonts.googleapis.com/css?family=Archivo+Narrow:400,400italic,700,700italic" rel="stylesheet" type="text/css">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<%= favicon_link_tag %>
<%= stylesheet_link_tag "think_feel_do_engine", media: "all", "data-turbolinks-track" => true %>
<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
