<h1>Editing Content Provider</h1>

<%= form_for(@content_provider, as: :content_provider, url: bit_maker_content_provider_path(@content_provider)) do |f| %>

  <%= render 'form', f: f %>

  <div class="btn-toolbar">
    <%= f.submit "Update", class: "btn btn-default" %>
    <%= link_to 'Cancel', arm_bit_maker_content_provider_path(@arm, @content_provider), class: "btn btn-default" %>
  </div>

<% end %>
