<nav id="SCNavbar" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <% if @navigator %>
        <button id="hamburger_button" type="button" class="navbar-toggle pull-left">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <% if @navigator %>
      <div class="collapse navbar-collapse" id="sc-hamburger-menu">
        <ul id="header-navbar" class="nav navbar-nav">
          <li><%= link_to "Home", main_app.root_path %></li>
          <%= render "think_feel_do_engine/shared/participant/nav_items" %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if current_participant %>
            <li><%= link_to fa_icon("sign-out", text: "Sign Out"), destroy_participant_session_path, method: :delete %></li>
          <% end %>
        </ul>

        <% if current_participant %>
          <p class="navbar-text navbar-right">Signed in as <%= current_participant.email %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</nav>
