<h1>New Slide</h1>
<%= form_for(@slide, as: :slide, url: arm_bit_maker_slideshow_slides_path(@arm, @slideshow, @slide)) do |f| %>
	<%= render "think_feel_do_engine/bit_maker/slides/fields", f: f, slide: @slide %>
	<%= f.submit "Create", class: "btn btn-primary" %>
	<%= link_to "Cancel", arm_bit_maker_slideshow_path(@arm,@slideshow), class: "btn btn-default" %>
<% end %>
