<tr>
  <td class="not-displayed">
    <%= emotional_rating.created_at ? emotional_rating.created_at.to_i : 0 %>
  </td>
  <td><%= emotional_rating.name %></td>
  <td><%= emotional_rating.rating %></td>
  <td><%= l(emotional_rating.created_at, format: :standard) %></td>
</tr>
