<% url = ThinkFeelDoEngine::Engine.routes.url_helpers %>

$(document).on('page:change, ready', function() {
  $("#new_participant #participant_password").on("keyup", function() {
    $.getJSON("<%= url.password_entropy_bits_path %>", { password: $(this).val() }, function(data) {
      if (data.bits < 10) {
        $("#password-strength").html("<span class='text-danger'>Weak</span>");
      } else if (data.bits < 18) {
        $("#password-strength").html("<span class='text-primary'>Medium</span>");
      } else {
        $("#password-strength").html("<span class='text-success'>Strong <i class='fa fa-check'></i></span>");
      }
    });
  });
});
