<%= content_for :title do %>
    New ThinkFeelDo Lesson Available: <%= @lesson.title %>
<% end %>

Your next ThinkFeelDo lesson is available. <%= link_to "Click here", navigator_location_url(module_id: @lesson.id.to_s) %> to access <%= @lesson.title %>."

<br>

<p>
  <strong>Please be aware that this is an automated e-mail message and if you reply to
    it no one will receive your response.</strong>
</p>
<p>
  If you need to contact your moderator, please use the messaging system within the
  ThinkFeelDo website.
</p>
