<p class="lead">Challenging a thought means evaluating if the thought is accurate. A useful way to do this is to check the facts to see if the thought is true.</p>
<%= image_tag("evaluating_thoughts.gif", width: "100%") %>
