<div class="panel panel-default cdb_panel" id="lessons-container">
  <div class="panel-heading">
    <h3 class="panel-title adjusted-panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#lessonsCollapse">
        Lessons
      </a>
    </h3>
  </div>

  <div id="lessonsCollapse" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="table-responsive div-table-viz">
        <table class="table table-hover data-table" id="learning_data">
          <thead>
          <tr>
            <th class="not-displayed"></th>
            <th class="not-displayed"></th>
            <th>Lesson Title</th>
            <th>Lesson Page</th>
            <th>Lesson Selected At</th>
            <th>Last Page Number Opened</th>
            <th>Last Page Opened At</th>
            <th>Duration</th>
          </tr>
          </thead>
          <tbody>
          <%= render partial: "think_feel_do_engine/learn/completion_data", collection: @lesson_events, as: :lesson_event %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    return $('#learning_data').dataTable({
      order: [[0, 'desc']],
      columnDefs: [
        {
          targets: [0],
          visible: false
        },{
          targets: [1],
          visible: false
        },{
          targets: [4],
          iDataSort: [0]
        },{
          targets: [6],
          iDataSort: [1]
        }
      ],
    });
  });
</script>
