<div class="panel panel-default cdb_panel" id="logins-container">
  <div class="panel-heading">
    <h3 class="panel-title adjusted-panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#loginsCollapse">
        Logins
      </a>
    </h3>
  </div>

  <div id="loginsCollapse" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="table-responsive div-table-viz">
        <table class="table table-hover  data-table" id="logins">
          <thead>
          <tr>
            <th class="not-displayed"></th>
            <th>Date/Time of Login</th>
          </tr>
          </thead>
          <tbody>
          <%= render partial: "think_feel_do_engine/login_events/login_event", collection: @participant.participant_login_events %>
          </tbody>
        </table>
      </div>

      <p id="login-count">Total: <%= @participant.sign_in_count %></p>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    return $('#logins').dataTable({
      sPaginationType: 'bootstrap',
      order: [[1, "desc"]],
      oLanguage: {
        sSearch: 'Filter: '
      },
      aoColumnDefs: [
        {
          aTargets: [0],
          bVisible: false
        },
        {
          aTargets: [1],
          iDataSort: [0]
        }
      ]
    });
  });
</script>
