<div class="panel panel-default cdb_panel" id="mood-container">
  <div class="panel-heading">
    <h3 class="panel-title adjusted-panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#moodsCollapse">
        Mood
      </a>
    </h3>
  </div>

  <div id="moodsCollapse" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="table-responsive div-table-viz">
        <table class="table table-hover data-table" id="moods-table">
          <thead>
          <tr>
            <th class="not-displayed"></th>
            <th>Rating 0 (Bad) to 10 (Good)</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody>
          <%= render partial: "think_feel_do_engine/moods/mood", collection: @participant.moods %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    return $('.generic-data-table').dataTable({
      sPaginationType: 'bootstrap',
      oLanguage: {
        sSearch: 'Filter: '
      }
    });
  });

  $(function() {
    return $('#moods-table').dataTable({
      sPaginationType: 'bootstrap',
      order: [[2, "desc"]],
      oLanguage: {
        sSearch: 'Filter: '
      },
      aoColumnDefs: [
        {
          aTargets: [0],
          bVisible: false
        },
        {
          aTargets: [2],
          iDataSort: [0]
        }
      ]
    });
  });
</script>