<div class="col-lg-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Login Info
      </h3>
    </div>

    <div class="panel-body">
      <p>
        <strong>Last Logged In:</strong>
        <%= @participant.current_sign_in_at ? l(@participant.current_sign_in_at, format: :standard) : "Never Logged In" %>
      </p>

      <p>
        <strong>Logins Today:</strong>
        <%= view_membership(@participant, @group).logins_today.count %>
      </p>

      <p>
        <strong>Logins in this treatment week:</strong>
        <%= view_membership(@participant, @group)
            .logins_by_week(view_membership(@participant, @group)
              .week_in_study(Date.today)) %>
      </p>

      <p>
        <strong>Total Logins:</strong>
        <%= @participant.sign_in_count %>
      </p>
    </div>
  </div>
</div>
