<h1>New Slideshow</h1>
<%= form_for(@slideshow, as: :slideshow, url: bit_maker_slideshows_path(@slideshow)) do |f| %>
	<%= render "think_feel_do_engine/bit_maker/slideshows/fields", f: f %>
	<%= f.submit "Create", class: "btn btn-default" %>
	<%= link_to "Cancel", bit_maker_slideshows_path, class: "btn btn-default" %>
<% end %>
