<%= form_for thought, url: create_path, method: "post", html: { role: "form", onsubmit: "validatePublic(event,'thought_shared_item_true')" } do |f| %>
  <%= render 'think_feel_do_engine/thoughts/harmful_thought', f: f %>

  <%= render 'think_feel_do_engine/thoughts/thought_effects', f: f, thought: thought %>

  <% if current_participant.active_group.arm.social? %>
    <span class="new-shareable-form-after-form-groups" data-item-type="thought" data-action-type="planned"></span>
  <% end %>

  <%= content_tag(:button, t(:next), type: "submit", class: "btn btn-primary pull-right") %>
<% end %>
