<div class="form-group">
  <%= f.label :content, "Harmful Thought", style: "display:none;" %>
  <%= f.text_area :content, placeholder: "example: I can never get my work done, I'm no good", class: "form-control", rows: 3, required: true %>
</div>
