<h2>Now one more, try to identify at least one harmful thought you had today.</h2>

<p class="lead">We're asking for a harmful thought because it will be important later.</p>

<%= form_for thought, url: create_path, method: "post", html: { role: "form" } do |f| %>
  <%= render 'think_feel_do_engine/thoughts/harmful_thought', f: f %>

  <%= f.hidden_field(:effect) %>

  <span class="new-thought-form-after-form-groups"></span>

  <%= content_tag(:button, ("Continue " + fa_icon("angle-double-right")).html_safe, type: "submit", class: "btn btn-primary pull-right") %>
<% end %>
