<h2>Harmful Thoughts</h2>

<div class="btn-toolbar">
  <% hide_new_path = hide_new_path or false %>
  <% unless hide_new_path %>
    <%= link_to "<i class='fa fa-plus'></i> Add a New Thought".html_safe, navigator_next_content_path, class: "btn btn-default" %>
  <% end %>
  <%= link_to "Edit Thoughts", "#", class: "btn btn-default", onclick: "makeThoughtsEditable(); return false;", id: "edit-thoughts-button" %>
</div>

<%= form_tag participants_thoughts_path, remote: true do %>
<table class="table table-hover data-table responsive" id="thoughts">
  <thead>
    <th class="not-displayed"></th>
    <th>Thought</th>
    <th>Pattern</th>
    <th>Challenging Thought</th>
    <th>As If Action</th>
    <th>Date</th>
    <th></th>
  </thead>
  <tbody>
    <%= render partial: "think_feel_do_engine/thoughts/mutable_thought", collection: thoughts.order(created_at: :desc) %>
  </tbody>
</table>
<% end %>

<script>
  function makeThoughtsEditable() {
    $("table#thoughts .immutable-thought-content").hide();
    $("table#thoughts input,select").show();
    $("table#thoughts input[type='submit']").show();
    $("table#thoughts tr").addClass("form-table");
  }
  $('table.responsive').ngResponsiveTables({
      smallPaddingCharNo: 13,
      mediumPaddingCharNo: 18,
      largePaddingCharNo: 30,
      shiftedIndex:0
    });
  $(function() {
    $('#thoughts').dataTable({
      order: [[5, 'desc']],
      columnDefs: [
        {
          targets: [0],
          visible: false
        },
        {
          targets: [5],
          iDataSort: [0]
        }
      ]
    });
  });
</script>
