<tr>
  <td><%= activity.title %></td>
  <td><%= activity.reviewed_and_complete? ? "<span class=\"label label-success\">Completed</span>".html_safe : "<span class=\"label label-warning\">Inactive</span>".html_safe %></td>
  <td><%= activity.start_time? ? "Scheduled for #{ activity.start_time.to_s(:standard) }" : "Unscheduled" %></td>
  <td><%= activity.created_at.to_s(:standard) %></td>
</tr>
