<% no_value_msg = "<span class=\"label label-warning\">Not Rated</span>".html_safe %>
<tr>
  <td><%= activity.title %></td>
  <td><%= activity.start_time.to_s(:date_time_with_meridian) %></td>
  <td><%= activity.predicted_pleasure_intensity ? activity.predicted_pleasure_value.to_s + (" (" + activity.predicted_pleasure_intensity.to_s + ")") : no_value_msg %></td>
  <td><%= activity.predicted_accomplishment_intensity ? activity.predicted_accomplishment_value.to_s + (" (" + activity.predicted_accomplishment_intensity.to_s + ")"): no_value_msg %></td>
</tr>