<p class="lead">Take a look - does this all seem right? Recently, you...</p>

<%= form_tag participants_activities_path, remote: true do %>
  <table class="table table-hover table-condensed responsive" id="recent_activities" >
    <tbody>
      <tr>
        <th>Time Period</th>
        <th>Activity</th>
        <th>Pleasure of Activity</th>
        <th>Sense of Accomplishment</th>
      </tr>
      <%= render partial: 'think_feel_do_engine/activities/mutable_activity', collection: activities %>
    </tbody>
  </table>
<% end %>

<script type="text/javascript">
  var getStartEndTime, isContinuousDuplicate, populateWithRow;

  $(document).on("page:change page:load", function() {
    var prevWeek;
    prevWeek = null;
    _.each($("#recent_activities tr"), function(rows, index) {
      var activity, row;
      row = $(rows).children();
      if (index === 0) {
        return;
      }
      activity = getStartEndTime($(row[0]).text());
      activity = populateWithRow(activity, row);
      if (prevWeek === null) {
        prevWeek = activity;
      } else if (isContinuousDuplicate(prevWeek, activity)) {
        $(rows).remove();
        prevWeek.end = activity.end;
        $(prevWeek.ref[0]).text(prevWeek.start + " - " + prevWeek.end);
      } else {
        prevWeek = activity;
      }
    });
  });

  isContinuousDuplicate = function(prevWeek, currentWeek) {
    return prevWeek.end === currentWeek.start && prevWeek.name === currentWeek.name && prevWeek.pleasure === currentWeek.pleasure && prevWeek.accomplishment === currentWeek.accomplishment;
  };

  getStartEndTime = function(str) {
    var e, s, split;
    split = str.indexOf("-");
    if (split < 0) {
      return ["", ""];
    }
    s = str.substr(0, split - 1);
    e = str.substr(split + 2);
    return {
      start: s,
      end: e,
      name: "",
      pleasure: "",
      accomplishment: "",
      ref: null
    };
  };

  populateWithRow = function(obj, row) {
    obj.name = $(row[1]).text();
    obj.pleasure = $(row[2]).text();
    obj.accomplishment = $(row[3]).text();
    obj.ref = row;
    return obj;
  };

  $(function() {
    return $("table.responsive").ngResponsiveTables({
      smallPaddingCharNo: 13,
      mediumPaddingCharNo: 18,
      largePaddingCharNo: 30,
      shiftedIndex: 1
    });
  });
</script>
