<h1>New tool</h1>

<%= form_for(@tool, as: :tool, url: arm_bit_maker_tools_path(@arm, @tool)) do |f| %>

  <%= render 'form', f: f %>

  <div class="btn-toolbar">
    <%= f.submit "Save", class: "btn btn-default" %>
    <%= link_to 'Back', arm_bit_maker_tools_path(@arm), class: "btn btn-default" %>
  </div>
<% end %>