<div id="PrivacyPolicyDiv">
<h1>Privacy Policy</h1>

<p>We are committed to respect your privacy and to keep your personal information confidential.</p>

<p>When choosing to take part in this study, you are giving us the permission to use your personal health information that includes health information in your medical records and information that can identify you. For example, personal health information may include your name, address, phone number or social security number. Disclosure of identity may be inherent to participating in an online social network. Every effort will be made to keep your identity private, unless you chose to reveal it to the network.<p>

<p>Your health information we may collect will include all information in medical records that you actively consent to our usage.</p>

<p>You are also giving permission to the following groups of people to give information about you (described above) to the researchers for this study: All current and previous health care providers, including but not limited to Northwestern Medical Faculty Foundation (NMFF), Northwestern Memorial Hospital (NMH).</p>

<p>Once we have the health information listed above, we may share some of this information with the following people. Please note that any research information shared with people outside of Northwestern University will not contain your name, address, telephone or social security number or any other direct personal identifier unless disclosure of the direct identifier is required by law[except that such information may be viewed by the Study sponsor and its partners or contractors at the Principal Investigator's office.</p>

<p>Authorized members of the Northwestern University workforce, who may need to see your information, such as administrative staff members from the Office of Research, and members of the Institutional Review Board (a committee which is responsible for the ethical oversight of the study), other University research centers and University contractors who are also working on the study, study monitors and auditors who make sure that the study is being done properly, government agencies and public health authorities, such as the Food and Drug Administration (FDA) and the Department of Health and Human Services (DHHS).</p>

<p>Those persons who get your health information may not be required by Federal privacy laws (such as the Privacy Rule) to protect it. Some of those persons may be able to share your information with others without your separate permission. The results of this study may also be used for research, publications, or presentations at scientific meetings. If your individual results are discussed, your identity will be protected.</p>
</div>