<h1>Participant <small><%= @participant.study_id %></small></h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Patients", coach_group_patient_dashboards_path(@group), class: "btn btn-default" %>
</div>