  <div class="alert alert-info">
    "#{fa_icon("copy")} PHQ9 assessment missing this week - values copied from previous assessment."
    "#{fa_icon("ban")} PHQ9 assessment missing this week - no previous assessment data to copy from."
    "#{fa_icon("question")} PHQ9 assessment missing answers for up to 3 questions - using 1.5 to fill them in."
    "#{fa_icon("question-circle")} PHQ9 assessment missing answers for more than 3 questions - data unreliable."
  </div>
