<h1><em><%= @group.title %></em> Patient Dashboard</h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Group", (defined?(think_feel_do_dashboard) ? think_feel_do_dashboard.group_path(@group) : "#"), class: "btn btn-default" %>
  <%= link_to @active_patients ? "Inactive Patients" : "Active Patients",
              patient_button_link(@active_patients),
              class: "btn btn-default" %>

</div>

<div id="patient_dashboard_wrapper">
  <table class="table table-hover" id="patients">
    <thead>
      <tr>
        <th>Study Id</th>
        <th>Unread Messages</th>
        <th>Week in Treatment</th>
        <% if phq_features? %>
          <th>Most Recent PHQ9 Score</th>
          <th>Step to t-CBT?</th>
        <% end %>
        <th># of Logins</th>
        <th>Last Login</th>
        <th>End Date</th>
        <% if phq_features? %> 
          <th>Step Status<th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "think_feel_do_engine/coach/patient_dashboards/patient", collection: @patients, as: :patient %>
    </tbody>
  </table>

  <script type="text/javascript">
    $('form.button_to input[type=submit]').addClass('btn btn-default');
  </script>
</div>
